// Margin
.margin-block {
  margin-block: var(--size-7);
}

.margin-block-start {
  margin-block-start: var(--size-7);
}

.margin-block-end {
  margin-block-end: var(--size-7);
}

.margin-block-lg {
  margin-block: var(--size-8);
}

.margin-block-lg-start {
  margin-block-start: var(--size-8);
}

.margin-block-lg-end {
  margin-block-end: var(--size-8);
}

.margin-block-vlg {
  margin-block: var(--size-10);
}

.margin-block-vlg-start {
  margin-block-start: var(--size-10);
}

.margin-block-vlg-end {
  margin-block-end: var(--size-10);
}

// Padding
.padding-block {
  padding-block: var(--size-7);
}

.padding-block-start {
  padding-block-start: var(--size-7);
}

.padding-block-end {
  padding-block-end: var(--size-7);
}

.padding-inline {
  padding-inline: var(--size-7);
}

.padding-inline-start {
  padding-inline-start: var(--size-7);
}

.padding-inline-end {
  padding-inline-end: var(--size-7);
}

// Borders
.border-top {
  border-top: 1px solid var(--color-border);
}

.border-top-2 {
  border-top-width: 2px;
}

.border-bottom {
  border-bottom: 1px solid var(--color-border);
}

.border-bottom-2 {
  border-bottom-width: 2px;
}