@use "../tools/px-to-rem" as p2r;
@use "../tools/respond-to" as rt;


.open-mobile {
  .header-main__nav {
    background-color: var(--color-ivory-alpha-90);
  }

  .main-nav {
    margin-top: 5vh;
  }
}

.index-site {
  grid-template-rows: 40vh auto auto;

  .site-logo--title {
    color: var(--color-text-white);
  }

  // .main-nav--list--item {
  //   background-color: var(--color-jet-black-alpha-75);
  // }

  .main-nav--list--item-link {
    color: var(--color-text-white);

    &:hover {
      color: var(--color-text-white-dark);
    }
  }
  .main-nav--list--sublist {
    .main-nav--list--item-link {
      color: var(--color-text);

      &:hover {
        color: var(--color-text);
      }
    } 
  }

  .header-main {
    height: 40vh;
  }

  .header-main__nav {
    padding-block-start: 0;
    background-color: var(--color-jet-black-alpha-75);
  }

  .main-nav {
    margin-top: 30vh;
  }

  .header-main__menu {
    .open-text {
      color: var(--color-text-white);
    }

    .header-main__menu__burger,
    &.js-closed .header-main__menu__burger {
      div {
        background-color: var(--color-text-white);
      }
    }
  }

  .main {
    padding-top: 60vh;
  }
}


.index-site--image-main--image {
  position: absolute;
  top: 0;
  left: 0;
  gap: unset;
  height: 100vh;
  width: 100vw;
}

.index-site--slogan {
  position: absolute;
  top: 75vh;
  left: 50vw;
  width: 80vw;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--color-text-white);
  padding: var(--size-fluid-3);
  font-family: var(--font-family-handwriting);
  background-color: var(--color-jet-black-alpha-50);
  border-radius: var(--size-2);
  max-inline-size: var(--size-content-3);

  .index-site--slogan--text {
    font-size: var(--font-size-fluid-3);
    font-weight: var(--font-weight-medium);
    line-height: var(--font-lineheight-0);
    font-family: inherit;
    margin-block: 0;
    max-inline-size: var(--size-content-3);
  }

  .index-site--slogan--contact {
    display: flex;
    justify-content: center;
    margin-block: 0;
  }
}

@include rt.respond-to('medium') {
  .index-site {
    .header-main__nav {
      background-color: unset;
    }
    .main-nav {
      margin-top: unset;
    }   
  } 
}