.jumbotron {
  margin-block: var(--size-4);
  font-size: var(--font-size-fluid-12);
  font-weight: var(--font-weight-medium);

  * {
    font-weight: inherit;
    font-size: inherit;
  }

  :where(strong, b, .bold) {
    font-weight: var(--font-weight-bold);
  }
}