@use "../common/variables";
@use "../tools/px-to-rem" as ptr;
@use "../tools/respond-to";

/* ==========================================================================
LAYOUT
========================================================================== */

body {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-template-areas:
    "head"
    "main"
    "foot"
  ;
  grid-template-rows: minmax(ptr.px-to-rem(100px), ptr.px-to-rem(200px)) auto auto;
}

header {
  grid-area: head;
}

main {
  grid-area: main;
  min-height: 100vh;
  flex-grow: 1;
}

footer {
  grid-area: foot;
}
